version: '3.4'

services:
  redis:
    environment: 
      - ALLOW_EMPTY_PASSWORD=yes
    restart: always
      
  site.external:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5000:80"

  api.internal:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

